html, body {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
}

#root {
    margin: auto;
}

#view1, #view2 {
    text-align: center;
}

button {
    background-color: white !important;
    color: black !important;
    margin-top: 1em;
}

.cell {
    display: inline-block;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color: white;
    overflow: hidden;
    color: black;
    font-size: 100px;
    text-align: center;
}

#row0 .co10 {
    border-top-left-radius: 10px;
}

#row0 .co12 {
    border-top-left-radius: 10px;
}

#row2 .co10 {
    border-top-left-radius: 10px;
}

#row2 .co12 {
    border-top-left-radius: 10px;
}

.cell.winningLine {
    color: green;
}










